################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/NeoApp/FileContentIndex/5c5f291a-ad9b-42bf-bb03-a21037e227fe.vsidx
